<h1>Editing: <%= @item.title %></h1>
<form action='/admin/menus/<%= @menu_id %>/sections/<%= @section_id %>/items/<%= @item.id %>' method='POST'>
  <input type='text' name='item[title]' placeholder='new item name' value='<%= html_safe @item.title %>'>
  <input type='text' name='item[description]' placeholder='new item description' value='<%= html_safe @item.description %>'>
  <input type='text' name='item[price]' placeholder='new item price' value='<%= html_safe @item.price %>'>

  <input type="hidden" name="_method" value="PUT">
  <input type='submit'>
</form>
<a href="/admin/menus/<%= @menu_id %>/sections/<%= @section_id %>">Back</a>
