<h1>Editing: <%= @menu.title %></h1>
<form action='/admin/menus/<%= @menu.id %>' method='POST'>
  <input type='text' name='menu[title]' placeholder='new menu name' value='<%= html_safe @menu.title %>'>
  <input type="hidden" name="_method" value="PUT">
  <input type='submit'>
</form>
<form action='/admin/menus/<%= @menu.id %>/sections' method='POST'>
  <h3>Create a new section:</h3>
  <input type='text' name='section[title]' placeholder='new section name'>

  <label for='left'>Main</label>
  <input type='radio' id='left' name='section[alignment]' value='left' checked>

  <label for='right'>Sidebar</label>
  <input type='radio' id='right' name='section[alignment]' value='right'>

  <input type='submit'>
</form>

<h3>Existing Sections</h3>
<ul>
  <% @menu.sections.each do |section| %>
    <li>
      <%= section.title %>
      <a href="/admin/menus/<%= @menu.id %>/sections/<%= section.id %>">Edit</a>
      <form action="/admin/menus/<%= @menu.id %>/sections/<%= section.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>
    </li>
  <% end %>
</ul>
<a href="/admin/menus">Back</a>
