<h1>Editing: <%= @section.title %></h1>
<form action='/admin/menus/<%= @menu_id %>/sections/<%= @section.id %>' method='POST'>
  <input type='text' name='section[title]' placeholder='new section name' value='<%= html_safe @section.title %>'>
  <label for='left'>Main</label>
  <input type='radio' id='left' name='section[alignment]' value='left'<%= ' checked' if @section.left? %>>

  <label for='right'>Sidebar</label>
  <input type='radio' id='right' name='section[alignment]' value='right'<%= ' checked' if @section.right? %>>
  <input type="hidden" name="_method" value="PUT">
  <input type='submit'>
</form>
<form action='/admin/menus/<%= @menu_id %>/sections/<%= @section.id %>/items' method='POST'>
  <h3>Create a new item:</h3>
  <input type='text' name='item[title]' placeholder='new item name'>
  <input type='text' name='item[description]' placeholder='new item description'>
  <input type='text' name='item[price]' placeholder='new item price'>
  <input type='submit'>
</form>

<h3>Existing Items</h3>
<ul>
  <% @section.items.each do |item| %>
    <li>
      <%= item.title %>
      <a href="/admin/menus/<%= @menu_id %>/sections/<%= @section.id %>/items/<%= item.id %>">Edit</a>
      <form action="/admin/menus/<%= @menu_id %>/sections/<%= @section.id %>/items/<%= item.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type='hidden' name='section[id]' value='<%= @section.id %>'>
        <input type="submit" value="delete"/>
      </form>
    </li>
  <% end %>
</ul>
<a href="/admin/menus/<%= @menu_id %>">Back</a>
