<h1 class="menu-title">
  <%= menu.title %> Menu
</h1>
<div id="main" class="col-left">
  <% menu.sections.select(&:left?).each do |section| %>
    <h2 class="menu-anchor">
      <a href="javascript:animatedcollapse.toggle('menu-<%= section.id %>')">
        <%= section.title %>
      </a>
    </h2>
    <div id="menu-<%= section.id %>" class="hide">
      <% section.items.each_with_index do |item, index| %>
        <div class="menu-food <%= index.even? ? 'fl' : 'fr' %>">
          <h2><%= item.title %></h2>
          <div class="fix"></div>
          <div class="info">
            <p><%= item.description %></p>
          </div>
          <div class="price-left"><%= item.price %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div id="sidebar" class="col-right">
  <% menu.sections.select(&:right?).each do |section| %>
    <div class="menu-title">
      <h2><%= section.title %></h2>
      <div class="fix"></div>
    </div>
    <% section.items.each do |item| %>
      <div class="drinks">
        <h2><%= item.title %></h2>
        <div class="price">
          <%= item.price %>
        </div>
        <div class="fix"></div>
        <div class="info">
          <p><%= item.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<script type="text/javascript" src="/js/animatedcollapse.js"> </script>
<script type="text/javascript">
  animatedcollapse.init();
  <% menu.sections.each do |section| %>
    animatedcollapse.addDiv('menu-<%= section.id %>', 'fade=1,height=auto')
  <% end %>
</script>
